* {
  /* pour maîtriser width et flex-basis */
  box-sizing: border-box;
}

html {
  display: flex;

  /* correction bug IE de min-height non appliqué à body */
  flex-direction: column;
}

body {
  /* crée un contexte flex pour ses enfants */
  display: flex;

  /* affichage vertical */
  flex-direction: column;

  /* toute la hauteur du viewport */
  min-height: 100vh;

  padding: 1em;
}
